.Analisis{
  margin: 0px;
  padding: 0px;
  background-color: #999;
}
.Entrada{
    position: relative;
    display: inline-block;
    width: 45%;
    overflow: hidden;
    margin: 10px;
}
.salidai{
    position: relative;
    display: inline-block;
    width: 45%;
    overflow: hidden;
    margin: 10px 15px;
}

.salidac{
  position: relative;
  display: inline-block;
  width: 45%;
  overflow: hidden;
  margin: 10px;
}
.SalidaM{
  position: relative;
  display: inline-block;
  width: 45%;
  overflow: hidden;
  margin: 10px 15px;
}